:root{
    --desktop-body-padding: 200px;
}

.under-construction-main-body {
    width: 100vw;
    height: 100vh;
    position: relative;
    @apply bg-primary;
}

.under-construction-container {
    padding-left: var(--desktop-body-padding);
    padding-right: var(--desktop-body-padding);
    width: 100%;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.under-construction-container>div {
    width: 100%;
    height: 100%;
}

.coming-soon-container>h1{
    font-family: ver(--primary_font);
    font-weight: 600;
    font-size: 30px;
    @apply text-primary_700;
}
.coming-soon-container>h6{
    font-family: ver(--primary_font);
    font-weight: 600;
    font-size: 16px;
    @apply text-primary_600;
    margin-top: 8px;
}

.coming-soon-container>button{
    display: flex;
    flex-direction: row;
    item-align: center;
    font-family: ver(--primary_font);
    font-weight: 500;
    font-size: 16px;
    padding: 8px;
    border-radius: 6px;
    @apply bg-primary text-primary_600 shadow-md hover:bg-red-400 hover:text-primary;
    margin-top: 8px;
}
/* Responsive design */
/* -------------This is global responsive design------------- */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 0px) and (max-width: 576px) {

    /* Styles */
    .under-construction-container {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        height: 70vh;
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

}

/* Tablate (portrait and landscape) ----------- */
@media only screen and (min-width: 576px) and (max-width: 624px) {

    /* Styles */
     .under-construction-container {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        height: 70vh;
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}
/* Tablate (portrait and landscape) ----------- */
@media only screen and (min-width: 624px) and (max-width: 676px) {

    /* Styles */
     .under-construction-container {
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
        height: 70vh;
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}
/* Tablate (portrait and landscape) ----------- */
@media only screen and (min-width: 676px) and (max-width: 728px) {

    /* Styles */
     .under-construction-container {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        height: 70vh;
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}
/* Tablate (portrait and landscape) ----------- */
@media only screen and (min-width: 728px) and (max-width: 768px) {

    /* Styles */
     .under-construction-container {
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;
        height: 70vh;
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

/* Tablate (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 868px) {

    /* Styles */
     .under-construction-container {
        padding-left: 70px;
        padding-right: 70px;
        width: 100%;
        height: 70vh;
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

/* Tablate (portrait and landscape) ----------- */
@media only screen and (min-width: 868px) and (max-width: 968px) {

    /* Styles */
     .under-construction-container {
        padding-left: 80px;
        padding-right: 80px;
        width: 100%;
        height: 70vh;
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}
/* Tablate (portrait and landscape) ----------- */
@media only screen and (min-width: 968px) and (max-width: 1068px) {

    /* Styles */
     .under-construction-container {
        padding-left: 90px;
        padding-right: 90px;
        width: 100%;
        height: 70vh;
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}
/* Tablate (portrait and landscape) ----------- */
@media only screen and (min-width: 1068px) and (max-width: 1168px) {

    /* Styles */
     .under-construction-container {
        padding-left: 110px;
        padding-right: 110px;
        width: 100%;
        height: 70vh;
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}
/* Tablate (portrait and landscape) ----------- */
@media only screen and (min-width: 1168px) and (max-width: 1224px) {

    /* Styles */
     .under-construction-container {
        padding-left: 120px;
        padding-right: 120px;
        width: 100%;
        height: 70vh;
        display: grid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

/* -----------------------THE END HERE------------------------- */