.slide_founder {
    width: 100%;
    height: 100%;

    .container {
        width: 100%;
        height: 100%;
        padding: var(--slide_padding);
        display: grid;
        grid-template-rows: 0.1fr repeat(2, 1fr);

        .first_container,
        .second_container {
            padding-left: 250rem;
            padding-right: 250rem;
            display: grid;
            align-items: center;
        }

    }
}

// Write for -- RESPONSIVE PAGE
@media only screen and (max-width: 550px) {
    .slide_founder {

        .container {

            .first_container,
            .second_container {
                padding-left: 10rem;
                padding-right: 10rem;
            }

        }
    }
}