.slide_founder {
    width: 100%;
    height: 100%;

    .container {
        width: 100%;
        height: 100%;
        padding: var(--slide_padding);
        display: grid;
        grid-template-rows: 0.1fr repeat(2, 1fr);

    }
}
