.vision_mission_container {
    width: 100%;
    height: 100%;
    font-size: 12rem;
    font-weight: 600;
    font-family: var(--primary_font);

    .parent_container {
        width: 100%;
        height: 100%;
        padding: var(--slide_padding);
        display: grid;
        grid-template-rows: 0.1fr repeat(2, 1fr);
        grid-template-columns: 1fr;

        .first_child_container {
            display: grid;
            justify-self: end;
        }

        .second_child_container {
            display: grid;
            justify-self: start;
        }

        .first_child_container,
        .second_child_container {
            width: 600rem;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            justify-items: center;
            align-items: center;
            text-align: center;

            .svg_vision_mission {
                width: 300rem;
                height: auto;
            }


            span {
                width: 600rem;
                height: auto;
                flex-grow: 0;
                font-family: var(--primary_font);
                font-size: 24rem;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
                letter-spacing: 0.05px;
                text-align: center;
                color: var(--primary_color_900);
            }
        }


    }
}



// -------------- media quary ------------------
// write for -- responsive page 

// mobile: 360 x 640
@media (min-width: 1px) and (max-width: 360px) {
    .vision_mission_container {

        .parent_container {


            .first_child_container {
                display: grid;
                justify-self: center;
            }

            .second_child_container {
                display: grid;
                justify-self: center;
            }

            .first_child_container,
            .second_child_container {
                width: fit-content;

                .svg_vision_mission {
                    width: 250rem;
                }


                span {
                    font-size: 18rem;
                }
            }


        }
    }
}

// mobile: 375 x 667
@media (min-width: 360px) and (max-width: 375px) {
    .vision_mission_container {

        .parent_container {


            .first_child_container {
                display: grid;
                justify-self: center;
            }

            .second_child_container {
                display: grid;
                justify-self: center;
            }

            .first_child_container,
            .second_child_container {
                width: fit-content;

                .svg_vision_mission {
                    width: 250rem;
                }


                span {
                    font-size: 18rem;
                }
            }


        }
    }
}

// mobile: 411 x 731
@media (min-width: 375px) and (max-width: 411px) {
    .vision_mission_container {

        .parent_container {


            .first_child_container {
                display: grid;
                justify-self: center;
            }

            .second_child_container {
                display: grid;
                justify-self: center;
            }

            .first_child_container,
            .second_child_container {
                width: fit-content;

                .svg_vision_mission {
                    width: 250rem;
                }


                span {
                    font-size: 18rem;
                }
            }


        }
    }
}

// tablet: 768 x 1024
@media (min-width: 411px) and (max-width: 768px) {
    .vision_mission_container {

        .parent_container {


            .first_child_container {
                display: grid;
                justify-self: center;
            }

            .second_child_container {
                display: grid;
                justify-self: center;
            }

            .first_child_container,
            .second_child_container {
                width: fit-content;

                .svg_vision_mission {
                    width: 250rem;
                }


                span {
                    font-size: 18rem;
                }
            }


        }
    }
}

// laptop: 1366 x 768
// @media (min-width: 768px) and (max-width: 1366px) {}

// high-res laptop or desktop: 1920 x 1080
// @media (min-width: 1366px) and (max-width: 1920px) {}