.vision_mission_container {
    width: 100%;
    height: 100%;
    font-size: 12rem;
    font-weight: 600;
    font-family: var(--primary_font);

    .container {
        width: 100%;
        height: 100%;
        padding: var(--slide_padding);
        display: grid;
        grid-template-rows: 0.1fr repeat(2, 1fr);

        div {

            .vision_mission{
                width: 300rem;
            }
            span {
                width: 600rem;
                height: auto;
                flex-grow: 0;
                font-family: var(--primary_font);
                font-size: 24rem;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
                letter-spacing: 0.05px;
                text-align: center;
                color: var(--primary_color_900);
            }
        }

        .first_div {
            display: grid;
            justify-content: end;

        }

        .second_div {
            display: grid;
            justify-content: start;
        }


    }
}

// Write for -- RESPONSIVE PAGE
@media only screen and (max-width: 550px) {

   .vision_mission_container{

     .container {

        div {
            display: grid;

            .vision_mission{
                width: 200rem;
                height: auto;
            }

            span {
                width: fit-content;
                font-size: 16rem;
                text-align: center;
            }
        }

    }
   }

}