.main_slide_container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

    .mySwiper {
        width: 100vw;
        height: 100vh;
        position: relative;
        border-radius: 8rem;
        background-color: var(-primary_color);
    }
}
