.main_slide_container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

    .mySwiper {
        width: 90vw;
        height: 90vh;
        position: relative;
        border-radius: 12rem;
        background-color: var(-primary_color);
        box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
        
    }
}
